<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create a Habit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="primary">
  <ion-item color="secondary" lines="none">
    <ion-input 
      label="Habit Name:" 
      labelPlacement="floating" 
      type="text" 
      placeholder="Brush Teeth" 
      [(ngModel)]="habit.Name" 
      [counter]="true" 
      maxlength="40">
    </ion-input>
  </ion-item>

  <ion-item (click)="changeIcon()" color="secondary" lines="none">
    <ion-input 
      label="Habit Icon:" 
      type="button">
    </ion-input>
    <ion-icon name="{{habit.Icon}}"></ion-icon>
  </ion-item>

  <ion-item color="secondary" lines="none">
    <ion-select 
      label="Habit Type:" 
      [(ngModel)]="habit.Type">
      <ion-select-option 
        *ngFor="let habitTypeKey of habitTypeKeys" 
        [value]="habitTypeKey">
        {{habitTypes[habitTypeKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="secondary" lines="none">
    <ion-select 
      label="Habit Schedule:" 
      [(ngModel)]="habit.FrequencyCategory" 
      (ngModelChange)="habitFrequencyChanged(habit.FrequencyCategory)">
      <ion-select-option 
        *ngFor="let habitFrequencyCategoryKey of habitFrequencyCategoryKeys" 
        [value]="habitFrequencyCategoryKey">
        {{habitFrequencyCategories[habitFrequencyCategoryKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="habitDailyOrNone | async" color="secondary" lines="none">
    <ion-select 
      label="Habit Scheduled Days:" 
      labelPlacement="floating" 
      placeholder="N/A" 
      disabled="disabled" 
      [(ngModel)]="habit.FrequencyCategoryValues" 
      [multiple]="true">
      <ion-select-option *ngFor="let habitWeeklyFrequencyKey of habitWeeklyFrequencyKeys" 
        [value]="habitWeeklyFrequencyKey">
        {{habitWeeklyFrequencies[habitWeeklyFrequencyKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="habitWeekly | async" color="secondary" lines="none">
    <ion-select 
      label="Habit Schedule Days:" 
      labelPlacement="floating" 
      [(ngModel)]="habit.FrequencyCategoryValues" 
      [multiple]="true">
      <ion-select-option *ngFor="let habitWeeklyFrequencyKey of habitWeeklyFrequencyKeys" 
        [value]="habitWeeklyFrequencyKey">
        {{habitWeeklyFrequencies[habitWeeklyFrequencyKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="habitMonthly | async" color="secondary" lines="none">
    <ion-select label="Habit Schedule Days:" labelPlacement="floating" [(ngModel)]="habit.FrequencyCategoryValues" [multiple]="true">
      <ion-select-option *ngFor="let habitMonthlyFrequencyKey of habitMonthlyFrequencyKeys" 
        [value]="habitMonthlyFrequencyKey">
        {{habitMonthlyFrequencies[habitMonthlyFrequencyKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item *ngFor="let reminder of habit.Reminders" class="ion-item" color="secondary" lines="none">
    <ion-icon name="notifications"></ion-icon>
    <ion-label>{{reminder.ReminderTime | date:'shortTime':'UTC'}}</ion-label>
    <ion-button class="ion-button" (click)="editReminder(reminder);reminderModal.present();"><ion-icon name="pencil"></ion-icon></ion-button>
    <ion-button class="ion-button" (click)="cancelReminder(reminder);habit.Reminders.splice(habit.Reminders.indexOf(reminder),1)"><ion-icon name="trash"></ion-icon></ion-button>
  </ion-item>

  <ion-item color="primary" class="reminder-item" lines="none">
    <ion-button color="secondary" id="open-modal" expand="block" class="reminder-button">Add Reminder</ion-button>
    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (willDismiss)="resetReminder()" #reminderModal>
      <ng-template>
        <ion-header>
          <ion-datetime color="primary" presentation="time" [(ngModel)]="currentReminder.ReminderTime"></ion-datetime>
          <ion-button color="primary" expand="block" (click)="saveReminder();reminderModal.dismiss();">
            Save Reminder
          </ion-button>
        </ion-header>
      </ng-template>
    </ion-modal>
  </ion-item>

  <div *ngIf="validationFailed | async" >
    <ion-item *ngFor="let error of validationErrors" color="fire">
      <ion-label class="ion-text-wrap">{{error.Message}}</ion-label>
    </ion-item>
  </div>
</ion-content>