<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create a Habit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="primary">
  <ion-item>
    <ion-label position="stacked">Habit Name:</ion-label>
    <ion-input type="text" placeholder="Brush Teeth" [(ngModel)]="habit.Name" legacy="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Icon:</ion-label>
    <ion-input type="button" (click)="changeIcon()" legacy="true">
      <ion-icon name="{{habit.Icon}}"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Type:</ion-label>
    <ion-input type="text" placeholder="Health" [(ngModel)]="habit.Type" legacy="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Schedule:</ion-label>
    <ion-input type="text" placeholder="Weekly" [(ngModel)]="habit.FrequencyCategory" legacy="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Schedule Days:</ion-label>
    <ion-input type="text" placeholder="Monday,Tuesday" [(ngModel)]="habit.FrequencyCategoryValues" legacy="true"></ion-input>
  </ion-item>
</ion-content>