<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create a Habit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="primary">
  <ion-item>
    <ion-label position="stacked">Habit Name:</ion-label>
    <ion-input type="text" placeholder="Brush Teeth" [(ngModel)]="habit.Name" legacy="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Icon:</ion-label>
    <ion-input type="button" (click)="changeIcon()" legacy="true">
      <ion-icon name="{{habit.Icon}}"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Type:</ion-label>
    <ion-select placeholder="Health" [(ngModel)]="habit.Type">
      <ion-select-option *ngFor="let habitTypeKey of habitTypeKeys" [value]="habitTypeKey">
        {{habitTypes[habitTypeKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Habit Schedule:</ion-label>
    <ion-select placeholder="Daily" [(ngModel)]="habit.FrequencyCategory" (ngModelChange)="habitFrequencyChanged(habit.FrequencyCategory)">
      <ion-select-option *ngFor="let habitFrequencyCategoryKey of habitFrequencyCategoryKeys" 
      [value]="habitFrequencyCategoryKey">
        {{habitFrequencyCategories[habitFrequencyCategoryKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-item *ngIf="habitDaily | async">
    Nothing, only Daily is valid
  </ion-item> -->
  <ion-item *ngIf="habitWeekly | async">
    <ion-label position="stacked">Habit Schedule Days:</ion-label>
    <ion-select placeholder="Monday,Wednesday" [(ngModel)]="habit.FrequencyCategoryValues" [multiple]="true">
      <ion-select-option *ngFor="let habitWeeklyFrequencyKey of habitWeeklyFrequencyKeys" 
      [value]="habitWeeklyFrequencyKey">
        {{habitWeeklyFrequencies[habitWeeklyFrequencyKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="habitMonthly | async">
    <ion-label position="stacked">Habit Schedule Days:</ion-label>
    <ion-select placeholder="1st,8th,15th" [(ngModel)]="habit.FrequencyCategoryValues" [multiple]="true">
      <ion-select-option *ngFor="let habitMonthlyFrequencyKey of habitMonthlyFrequencyKeys" 
      [value]="habitMonthlyFrequencyKey">
        {{habitMonthlyFrequencies[habitMonthlyFrequencyKey]}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>