<ion-card>
  <ion-card-header>
    <ion-card-title>Manage Habits</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngFor="let habit of habits" class="ion-list">
      <ion-item class="ion-item" *ngIf="!habit.IsArchived">
        <ion-label>{{habit.Name}}</ion-label>
        <ion-button (click)="deleteHabit(habit)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button id="open-modal" expand="block">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Create a Habit</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Habit Name:</ion-label>
            <ion-input type="text" placeholder="Brush Teeth" [(ngModel)]="habit.Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Habit Icon:</ion-label>
            <ion-input type="text" placeholder="Toothbrush" [(ngModel)]="habit.Icon"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card-content>
</ion-card>