.habit-checkbox {
    margin-right: 8px;
}

ion-item > ion-button:disabled,
ion-item > ion-button[disabled] {
    opacity: 1;
}

.vertical-align-content
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.header-button {
    height: fit-content;
    margin-left: 5px;
    width: 15%;
}

ion-card-title > ion-label {
    margin-right: 12px;
}

.checkbox-icon {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}