<ion-card color="primary">
  <ion-card-header>
    <ion-card-title class="vertical-align-content">
      <ion-label class="override">Habits:</ion-label>
      <ion-label id="dateLabel" class="override"></ion-label>
      <ion-button id="yesterdayButton" class="header-button first" (click)="changeDate(false)" color="secondary"><ion-icon name="chevron-back" class="header-icon"></ion-icon></ion-button>
      <ion-button id="tomorrowButton" class="header-button" (click)="changeDate(true)" color="secondary"><ion-icon name="chevron-forward" class="header-icon"></ion-icon></ion-button>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngFor="let habit of habits" class="ion-list">
      <ion-item class="ion-item" *ngIf="!habit.IsArchived" no-lines color="secondary">
        <ion-checkbox justify="start" class="habit-checkbox" (ionChange)="habitChecked($event, habit)" [checked]="habitStreaks[habit.HabitSID]"></ion-checkbox>
        <ion-icon name="{{habit.Icon}}"></ion-icon>
        <ion-label class="ion-text-wrap">
          <strong>{{habit.Name}}</strong>
        </ion-label>
        <ion-button disabled="true">
          <ion-icon name="flame" color="fire"></ion-icon>
          {{habitStreaks[habit.HabitSID]?.StreakCount ?? 0}}
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>