/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Custom */
.ion-content {
    background: var(--ion-color-secondary);
}

.ion-content .ion-list {
    background: var(--ion-color-secondary);
    padding: 0px;
}

.ion-content .ion-list .ion-item {
    color: var(--ion-color-secondary);
}

:root {
	--ion-color-fire: #ff2424;
	--ion-color-fire-rgb: 255,36,36;
	--ion-color-fire-contrast: #ffffff;
	--ion-color-fire-contrast-rgb: 255,255,255;
	--ion-color-fire-shade: #e02020;
	--ion-color-fire-tint: #ff3a3a;
}

.ion-color-fire {
	--ion-color-base: var(--ion-color-fire);
	--ion-color-base-rgb: var(--ion-color-fire-rgb);
	--ion-color-contrast: var(--ion-color-fire-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fire-contrast-rgb);
	--ion-color-shade: var(--ion-color-fire-shade);
	--ion-color-tint: var(--ion-color-fire-tint);
}